@page "/new-hirdetes"
@using System.Text
@using Microsoft.EntityFrameworkCore
@using PalyavalsztoV4.Models.v4_1;
@using PalyavalsztoV4.Data;


<PageTitle>NewHirdetes</PageTitle>

<RadzenRow Size=12>
    <RadzenColumn Size=6 Style="justify-content: center;">
        <div class="component_single MultiGlassEffect" style="width: 300px; height: 231px">
            <div class="image-container" style="width: 100%; height: 105px">
                <img id="uploaded-image" src="image.jpg" alt="Image">
            </div>
            <div class="content-container" Style="color:black; padding: 5px;">
                <h3 style="text-align: left; width: 100%; height: 31px; float: none">@jobTitle</h3>
                <p style="width: 100%; height: 50px">@inputShort_Summary</p>
            </div>
            <div style="bottom: 2%; width: 50%; float: left;">
                <p style="width: 50%; float: left; text-align: center;">@minSalary</p> 
                <p style="width: 50%; float: right; text-align: center;">@maxSalary</p>
            </div>
            <div style="bottom: 2%; width: 50%; float: right;">
                <p style="text-align: center;">@jobLocation</p>
            </div>
        </div>
    </RadzenColumn>
    <RadzenColumn>
        <div class="file-uploader MultiGlassEffect" onclick="document.getElementById('file-input').click();">
            <label for="file-input" class="uploader-content">
                <div class="upload-icon" alt="Upload"></div>
                <input type="file" id="file-input" onchange="loadImage(event)" class="w-100" style="display: none;" />
                <span class="file-label">Fájl kiválasztása/módosítása</span>
            </label>
        </div>
        <div class="MultiGlassEffect" Style="color: white; margin-top: 1rem; text-align: center; width: auto;">
            <span>Ahhoz hogy szerkeszthesd a Hirdetés kártyát, kattints a szerkeszteni kívánt mezőre!</span>
        </div>
        <div style="width: 100%; justify-content: space-between; align-items: center;">
            <RadzenButton style="width: auto; height: 37px; margin: 1rem; color: black; background-color: rgba(57, 180, 0, 1)" Click="SaveJob">Álláshirdetés mentése</RadzenButton>
            <RadzenButton style="width: 170px; height: 37px; margin: 1rem; color: white; background-color: red" Click="SaveJob">Mégsem</RadzenButton>
        </div>
    </RadzenColumn>
</RadzenRow>

<RadzenRow>
    <RadzenColumn Size=12 Class="MultiGlassEffect" Style="margin-top: 1rem; width: 800px; height: fit-content;">
        <div style="margin: 1rem;">
            <label class="center-content">A Hírdetés főoldalának szerkesztése</label>
            <div style="margin-top: 1rem">
                <InputText class="beviteli-mezo" id="inputJobTitle" @bind-Value="@jobTitle" placeholder="Munka címe" />
                <InputText class="beviteli-mezo" id="inputShort_description" @bind-Value="@inputShort_Summary" placeholder="Kártya rövid leírása" />
                <InputTextArea class="beviteli-mezo" style="background-color: whitesmoke;" id="inputJobDescription" @bind-Value="@jobDescription" placeholder="Munka leírása"></InputTextArea>
                <InputTextArea class="beviteli-mezo" style="background-color: whitesmoke;" id="inputjobRequirements" @bind-Value="@jobRequirements" placeholder="Követelmények a munkavégzéshez"></InputTextArea>
                <InputTextArea class="beviteli-mezo" style="background-color: whitesmoke;" id="inputExtras" @bind-Value="@Extras" placeholder="Amit kínálunk / Munkahelyi extrák"></InputTextArea>
                <div class="salary-range">
                    <label>Minimum bér</label><InputText class="beviteli-mezo" id="minSalary" @bind-Value="@minSalary" placeholder="Minimum bér"></InputText>
                    <label>Maximum bér</label><InputText class="beviteli-mezo" id="maxSalary" @bind-Value="@maxSalary" placeholder="Maximum bér"></InputText>
                </div>
                <InputText class="beviteli-mezo" id="inputJobLocation" @bind-Value="@jobLocation" placeholder="Munkavégzés helye"/>
            </div>
        </div>
    </RadzenColumn>
</RadzenRow>

<script>
function loadImage(event) {
    if (event.target.files.length > 0) {
        var image = document.getElementById('uploaded-image');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
}
</script>


@code {
    string jobTitle;
    string jobDescription;
    string inputShort_Summary;
    string imageUrl;
    string pictureBase64;
    string Extras;
    string jobRequirements;
    string minSalary;
    string maxSalary;
    string jobLocation;

    async Task SaveJob()
    {
        var validationErrors = new List<string>();

        if (string.IsNullOrEmpty(jobTitle))
        {
            validationErrors.Add("A munkakör megnevezése kötelező.");
        }

        if (string.IsNullOrEmpty(jobRequirements))
        {
            validationErrors.Add("A munkakövetelmények megnevezése kötelező.");
        }

        if (string.IsNullOrEmpty(Extras))
        {
            validationErrors.Add("A munkahelyi extrák megnevezése kötelező.");
        }

        if (string.IsNullOrEmpty(jobDescription))
        {
            validationErrors.Add("A munkaköri leírás kötelező.");
        }

        if (string.IsNullOrEmpty(jobLocation))
        {
            validationErrors.Add("A munkavégzés helye kötelező.");
        }

        if (string.IsNullOrEmpty(minSalary))
        {
            validationErrors.Add("A minimális fizetés nem lehet 0.");
        }

        if (string.IsNullOrEmpty(maxSalary))
        {
            validationErrors.Add("A maximális fizetés nem lehet 0.");
        }


        if (validationErrors.Any())
        {
            // Hibaüzenetek megjelenítése a felhasználónak
            // ...

            return; // A mentés megszakítása
        }

        var newJob = new job
            {
                JobTitle = jobTitle,
                JobDescription = jobDescription,
                MinSalary = minSalary,
                MaxSalary = maxSalary,
                JobLocation = jobLocation,
                Picture = pictureBase64
            };

        using (var db = new MyDbContext())
        {
            try
            {
              //  db.Jobs.AddAsync(newJob);
                await db.SaveChangesAsync();
            }
            catch (Exception ex)
            {
                // Hibaüzenet a felhasználónak
                var errorMessage = "Hiba a munkahely mentésekor.";
                Console.WriteLine(errorMessage);

                // További hibakezelés (opcionális)
                // - Visszaállítás
                // - Érvénytelenítés
                // ...
            }
        }
    }
}

